
/* Global */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.row > div {
    margin-bottom: 10px;
}


/* Page Header (H1) Icon*/

.page-header-icon {
    padding-left: 48px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left top;
}

.page-header-icon-nodes {
    background-image: url("../Images/Nodes.png");
}

.page-header-icon-reports {
    background-image: url("../Images/Reports.png");
}

.page-header-icon-configurations {
    background-image: url("../Images/Configurations.png");
}

.page-header-icon-modules {
    background-image: url("../Images/Modules.png");
}


/* Page Subheader (H2) Icon*/

.page-subheader-icon {
    padding-left: 44px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: left top;
}

.page-subheader-icon-nodes {
    background-image: url("../Images/Nodes.png");
}

.page-subheader-icon-reports {
    background-image: url("../Images/Reports.png");
}

.page-subheader-icon-configurations {
    background-image: url("../Images/Configurations.png");
}

.page-subheader-icon-modules {
    background-image: url("../Images/Modules.png");
}


/* Tooltip */

.page-tooltip {
    position: relative;
    display: inline-block;
}

.page-tooltip .page-tooltip-text {
    visibility: hidden;
    width: 480px;
    background-color: #F2F2F2;
    border: 1px solid #DDDDDD;
    color: #B22148;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%; 
    margin-left: -240px;
}
.page-tooltip:hover .page-tooltip-text {
    visibility: visible;
}


/* Bootstrap Extension: Upload Button */

.btn-upload-extension {
    position: relative;
    overflow: hidden;
}

.btn-upload-extension input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* DSC Table View */

.dsc-loader > p {
    padding: 15px 15px;
    text-align: center;
    color: #808080;
}
