<div class="row">
    <div class="col-md-12">
        <h1 class="page-header page-header-icon page-header-icon-configurations">@ViewBag.Title</h1>
    </div>

    <div class="col-md-12">
        <p>Available DSC configurations (MOFs) on the pull server. To upload a new configuration, use the <strong>Upload</strong> button and select a file that match the naming convention <strong>&lt;ConfigurationName&gt;.mof</strong>. The new uploaded configuration will be named the same as the uploaded file.</p>
    </div>

    <div class="col-md-12">
        <div class="text-right">
            <div class="btn btn-default btn-upload-extension">
                <span class="glyphicon glyphicon-plus"></span> Upload
                <input id="configurationsUploadButton" type="file" class="upload" />
            </div>
            <button id="configurationsRefreshButton" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
        </div>
    </div>

    <div class="col-md-12" id="table-configurations-loader">
        <p><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></p>
    </div>

    <div class="col-md-12 dsc-table" id="table-configurations-content" style="display: none;">
        <div class="table-responsive">
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 54%;" />
                    <col style="width: 16%;" />
                    <col style="width: 12%;" />
                    <col style="width: 8%;" />
                    <col style="width: 9%;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Checksum</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12" id="table-configurations-exception" style="display: none;">
        <p class="text-danger bg-danger">500 (Internal Server Error)</p>
    </div>
</div>
